* {
    list-style: none;
    text-decoration: none !important;
    border: none;
  }

  .crear{
    color: rgb(138, 137, 137);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  .sesion{
    color: white ;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
    background-color: black;
      border-radius: 20px;
      margin-right: 0;
  }

.elementos li {
    flex-basis: 30%;
    margin: 30px 0;
  }

  .editar{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: black;
  }

  .eliminar{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: red;
}

@media (max-width: 500px) {
  .crear{
    font-size: 18px;
  }
  .sesion{
    font-size: 18px;
  }
  .elementos li {
    flex-basis: 100%;
    margin: 30px 0;
  }
  .elementos h4{
    text-align: center;
  }
}