* {
    list-style: none;
    text-decoration: none !important;
    border: none;
  }

  .campos{
    color: #4F4E4E ;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
    background-color: #EAE8E8;
    border: 0;
      border-radius: 20px;
  }

  .enviar{
    color: white ;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 5px;
    background-color: black;
      border-radius: 20px;
  }